# Para local: localhost | Para AWS RDS: tu-endpoint.rds.amazonaws.com
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=multiagente_db
POSTGRES_USER=multiagente_user
POSTGRES_PASSWORD=multiagente_pass
SECRET_KEY=cambia-este-secreto-en-produccion
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
WATI_API_ENDPOINT=
WATI_BEARER_TOKEN=
